<div class="row" *ngIf="persona">  
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 button-container">
        <img src={{persona.img}} class="img-fluid" alt="Responsive image"  id="fotoPerfil">
    </div>     
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre" class="h2">{{persona.nombre}} {{persona.apellido}}</p>
        
        <p class="h5">Full Stack Developper Jr</p>
        <br>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h3>Acerca de mi</h3>
            <p>
                {{persona.descripcion}}
            </p>
        </span>
    </div>
    <button type="button" routerLink="/editacercade/1" class="btn btn-primary" *ngIf="isLogged">Editar Persona</button>    
</div>
