<div class="row">
    <h1>Hard & Soft Skills</h1>    
        <button type="button" routerLink="/newskill" class="btn btn-primary" *ngIf="isLogged">Nueva Skill</button>

    <div class="text-center col-sm-4 col-md-3 col-lg-2" *ngFor="let skill of skill">
        <circle-progress 
        [percent]="(skill.porcentaje)"        
        [responsive]="true"
        [showUnits]="false"
        [showSubtitle]="false"
        [radius]="100"
        [title]="(skill.nombre)"
        titleColor="#212F3C"
        [titleFontSize]="'30'"                         
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#5E7C1B'"
        [innerStrokeColor]="'#BFBEC2'"
        [animation]="true"
        [animationDuration]="900"
        ></circle-progress>
        
        

        <td *ngIf="isLogged">
            <button class="btn btn-light" routerLink="/editskill/{{skill.id}}">
                <i class="bi bi-pencil-fill"></i>Editar
            </button>
        </td>

        <td *ngIf="isLogged">
            <button class="btn btn-danger" (click)="delete(skill.id)">
                <i class="bi bi-trash"></i>Borrar
            </button></td>
            
    </div>   
    
</div> 
<div class="row"></div>