.row {
    padding: 20px;
    background-color: rgb(117, 177, 154);
    --bs-gutter-x: 0rem;
    height: 100%;
    width: 100%;

}

.contenedor {
    width: auto;

}

.parte1,
.parte2 {
    display: inline-block;
    text-align: justify;
}

.img-proyectos {
    box-shadow: 10px 10px 30px #000000;

}